<div class="pt-5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 text-center">
        <img src="assets/Summary/photo.jpg" alt="Profile Image" class="img-fluid rounded-square" />
      </div>
      <div class="col-md-8" style="padding-left: 50px;">
        <h1 class="display-1 fw-bold ps-2">Hello</h1>
        <h3 class="ps-1">A Bit About Me</h3>
        <p>
          I am a fresher graduating in 2025 with a B.Tech in Computer Science and Business Systems. Currently, I am practicing as a full-stack Java developer, focusing on creating innovative and efficient solutions that bridge technology and real-world applications.
        </p>
        <br>
        <br>

        <div class="d-flex justify-content-start gap-4 mt-4">
          <div class="circle text-center" routerLink="/resume">
            <p class="mb-0">Resume</p>
          </div>
          <div class="circle text-center" routerLink="/projects">
            <p class="mb-0">Projects</p>
          </div>
          <div class="circle text-center" routerLink="/contact">
            <p class="mb-0">Contact</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
