<footer class="text-center text-lg-start footer">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class=>Phone</h5>
                <p>
                    <a href="tel:+919791116164" class="text-decoration-none">+91 9791116164</a>
                </p>                  
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Email</h5>
                <p>
                    <a href="mailto:saiganesan5@gmail.com" class="text-decoration-none">saiganesan5&#64;gmail.com</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Follow me</h5>
                <p>
                    <a href="https://github.com/SaiGanesan" target="_blank" class="text-dark me-4"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/sai-ganesan-947283254/" target="_blank" class="text-dark me-4"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="footer-text">© 2024 by Sai Ganesan M</p>
                <p class="footer-text">Quality at its most</p>
            </div>
        </div>
    </div>
</footer>
