<div class="pt-5">
    <div class="text-center mt-5 text-muted">
        <h3>Profile</h3>
        <hr class="my-4" style="border-top: 2px solid #000000; width: 100%; margin: auto" />
    </div>
    <div class="container mt-4">
        <div class="text-muted text-center">
            <p>Dedicated and highly motivated student transitioning into the professional field, with proven skills in
                frontend development, including HTML, CSS, and JavaScript. Currently advancing my knowledge in backend
                development using Java. Known for a positive attitude, collaborative mindset, and strong commitment to
                reliability. Eager to contribute to organizational goals while continuously developing and evolving in a
                dynamic environment.</p>
        </div>
    </div>

    <div class="pt-5">
        <div class="text-center mt-5 text-muted">
            <h3>Education</h3>
            <hr class="my-4" style="border-top: 2px solid #000000; width: 100%; margin: auto" />
        </div>
        <div class="container mt-4">
            <div class="row vertical-line dot">
                <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                    <h6 class="text-dark">2021-2025 (Expected)</h6>
                    <h5 class="text-muted mt-3">Bachelor of Technology (B.Tech) in Computer Science and Business Systems
                    </h5>
                </div>
                <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                    <h6 class="text-muted">RMD Engineering College, Chennai</h6>
                    <p class="text-muted mt-3">Current CGPA: 8.36</p>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row vertical-line dot">
                    <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                        <h6 class="text-dark">2019-2021</h6>
                        <h5 class="text-muted mt-3">Higher Secondary Certificate</h5>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                        <h6 class="text-muted">MKM Mat Hr Sec School, Chennai</h6>
                        <p class="text-muted mt-3">Percentage: 92%</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="text-center mt-5 text-muted">
                <h3>Skills</h3>
                <hr class="my-4" style="border-top: 2px solid #000000; width: 100%; margin: auto" />
            </div>

            <div class="container">
                <div class="row">
                    <!-- Programming Languages -->
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-muted text-center">Programming Languages
                                </h5>
                                <div class="text-center">
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white"
                                        alt="Java" />&nbsp;
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/C-00599C?style=for-the-badge&logo=c&logoColor=white"
                                        alt="C" />
                                    <br><br>
                                    <img class="ps-1 rounded"
                                        src="https://img.shields.io/badge/JavaScript-F7E018?style=for-the-badge&logo=javascript&logoColor=white"
                                        alt="JavaScript" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Web Development -->
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-muted text-center">Web Development
                                </h5>
                                <div class="text-center">
                                    <img class="pe-1 rounded"
                                        src="https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=html5&logoColor=white"
                                        alt="HTML" />&nbsp;&nbsp;
                                    <img class="ps-1 rounded"
                                        src="https://img.shields.io/badge/CSS-1572B6?style=for-the-badge&logo=css3&logoColor=white"
                                        alt="CSS" />
                                    <br><br>
                                    <img class="ps-1 rounded"
                                        src="https://img.shields.io/badge/TypeScript-3178C6?style=for-the-badge&logo=typescript&logoColor=white"
                                        alt="TypeScript" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Frameworks & Libraries -->
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-muted text-center">Frameworks & Libraries
                                </h5>
                                <div class="text-center">
                                    <img class="ps-1 rounded"
                                        src="https://img.shields.io/badge/Bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white"
                                        alt="Bootstrap" />
                                    <br><br>
                                    <img class="ps-1 rounded"
                                        src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white"
                                        alt="Angular" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- OS Platforms -->
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-light text-muted text-center">OS Platforms</h5>
                                <div class="text-center">
                                    <img class="pe-1 rounded"
                                        src="https://img.shields.io/badge/Windows-0078D6?style=for-the-badge&logo=windows&logoColor=white"
                                        alt="Windows" />
                                    <br><br>
                                    <img class="pe-1 rounded"
                                        src="https://img.shields.io/badge/Ubuntu-E95420?style=for-the-badge&logo=ubuntu&logoColor=white"
                                        alt="Ubuntu" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tools -->
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-muted text-center">Tools</h5>
                                <div class="text-center">
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Visual_Studio_Code-007ACC?style=for-the-badge&logo=visual-studio-code&logoColor=white"
                                        alt="VSCode" />
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/MS_Office-D83B01?style=for-the-badge&logo=microsoft-office&logoColor=white"
                                        alt="MS Office" />
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white"
                                        alt="GitHub" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Soft Skills -->
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-muted text-center">Soft Skills</h5>
                                <div class="text-center">
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Team_Leadership-007ACC?style=for-the-badge&logo=people&logoColor=white"
                                        alt="Team Leadership" />
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Strong_Work_Ethics-28A745?style=for-the-badge&logo=check-circle&logoColor=white"
                                        alt="Strong Work Ethics" />
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Excellent_Communication-F7E018?style=for-the-badge&logo=speech-bubble&logoColor=white"
                                        alt="Excellent Communication" />
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Self_Discipline-ED8B00?style=for-the-badge&logo=medal&logoColor=white"
                                        alt="Self Discipline" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 skills-card">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-muted text-center">Database Technologies</h5>
                                <div class="text-center">
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/Firebase-FFCA28?style=for-the-badge&logo=firebase&logoColor=white"
                                        alt="Firebase" />
                                    <img class="rounded m-1"
                                        src="https://img.shields.io/badge/MySQL-00000F?style=for-the-badge&logo=mysql&logoColor=white"
                                        alt="MySQL" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="text-center mt-5 text-muted">
                <h3>Internships & Projects</h3>
                <hr class="my-4" style="border-top: 2px solid #000000; width: 100%; margin: auto" />
            </div>
            <div class="container mt-4">
                <div class="row vertical-line dot">
                    <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                        <h6 class="text-dark">Cyber Security Internship</h6>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                        <h6 class="text-muted">Cybersec Infotech</h6>
                        <p class="text-muted mt-3">Completed keylogger and Cipher projects as part of a certified
                            cybersecurity internship.</p>
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row vertical-line dot">
                        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                            <h6 class="text-dark">Plant Disease Detector Presentation</h6>
                        </div>
                        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                            <h6 class="text-muted">MIT, Anna University</h6>
                            <p class="text-muted mt-3">Presented at the PRAYATNA symposium on plant disease detection
                                using innovative technologies.</p>
                        </div>
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row vertical-line dot">
                        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                            <h6 class="text-dark">Website Development</h6>
                        </div>
                        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                            <h6 class="text-muted">Adaptive Website</h6>
                            <p class="text-muted mt-3">Developed a visually appealing educational website using HTML and
                                CSS, and a responsive photographer portfolio using JavaScript and Firebase integration
                                for Google-based signups.</p>
                        </div>
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row vertical-line dot">
                        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                            <h6 class="text-dark">Photographer Portfolio</h6>
                        </div>
                        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                            <h6 class="text-muted">Responsive Website</h6>
                            <p class="text-muted mt-3">Created a responsive photographer portfolio using pure HTML and CSS, integrated with Firebase for backend support and EmailJS for contact forms.</p>
                        </div>
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row vertical-line dot">
                        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                            <h6 class="text-dark">Travel Itinerary Planner Web App</h6>
                        </div>
                        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                            <h6 class="text-muted">Angular App</h6>
                            <p class="text-muted mt-3">Developed a responsive travel itinerary planner web app using the Angular framework, integrated with Firebase for data storage and EmailJS for user notifications.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-5">
                <div class="text-center mt-5 text-muted">
                    <h3>Awards</h3>
                    <hr class="my-4" style="border-top: 2px solid #000000; width: 100%; margin: auto" />
                </div>

                <div class="container mt-4">
                    <div class="row vertical-line dot">
                        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
                            <h6 class="text-dark" style="color: #000000;">Awards</h6>
                        </div>
                        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
                            <h6 class="text-muted">NPTEL Stars:</h6>
                            <p class="text-muted mt-3"><strong>NPTEL Motivated Learners Award</strong></p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
